.table {
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid black;
}

.table__cell {
    border: 1px solid black;
    min-width: 200px;
}

.table__cell_auto {
    min-width: auto;
}

.table__header {
    background-color: aquamarine;
}

.table__entry:hover {
    background-color: burlywood;
}

.table__cell-edit {
    background-color: cornflowerblue;
}

.table__cell-sort {
    cursor: move;
}